@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap');

html, body{
    height: 100%;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.content{
    margin: 0 auto;
    position: relative;
    top: 5em;
    width: 400px;
    background: #ebfcff;
    border: 1px solid rgb(41, 140, 123);
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgb(133, 126, 126);
}

.login input{
    width: 300px;
    padding: 10px;
    margin-top: 8px;
    box-shadow: 0px 1px 1px rgb(133, 126, 126);
    border: 1px solid rgb(41, 140, 123); 
    border-radius: 5px;  
    font-size: 16px;
}

.login label{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#update{
    margin-top: 10px;
    margin-left: 10px;
    background-color: #26601A;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}


.buttons{
    width: 30%;
    padding: 8px;
    margin-top: 25px;
    background-color: #00687A;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}

#delete{
    margin-top: 10px;
    width: 30%;
    padding: 8px;
    background-color: #CC2500;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}

button:hover{
    background-color: #00D0F5;
    transition: 1s;
    cursor: pointer;
}
